.btn {
    color: var(--primary-color);
    background-color: #fff;
    border: 2px solid var(--primary-color);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    border-color: var(--link-color-hover);
    color: var(--primary-color);
}

.btn-tab {
    margin: 0 3px;
    background-color: transparent;
}

.btn-tab.active {
    background-color: #fff;
}