.cart-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table .product {
    display: flex;
    align-items: center;
}

.cart-table .product .remove {
    color: #000;
    background-color: #fff;
    font-size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    box-shadow: 0 1px 72px 0 rgba(0, 0, 0, 0.08);
    margin-right: 40px;
}

.cart-table .product .remove:hover {
    color: var(--link-color-hover);
}

.cart-table th,
.cart-table td {
    padding: 15px 0;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.cart-table thead th {
    font-weight: bold;
    text-transform: uppercase;
}

.product-info {
    display: flex;
    align-items: center;
}

.wrap-product {
    display: flex;
    align-items: center;
}

.product-info img {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.product-name {
    color: #333;
    text-decoration: none;
}

.product-name:hover {
    text-decoration: underline;
}

.remove {
    color: red;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.remove:hover {
    color: darkred;
}

.quantity input {
    width: 60px;
    text-align: center;
}

.cart-actions {
    margin-top: 20px;
    text-align: right;
}

.cart-total {
    font-weight: bold;
}

.cart-actions {
    display: flex;
    justify-content: space-between;
}

.cart-actions a,
.cart-actions button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.cart-actions a:hover,
.cart-actions button:hover {
    color: var(--link-color-hover);
}

@media (max-width: 1200px) {
    .cart-container {
        width: 100%;
    }
}

/* Desktop Styles */
.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th,
.cart-table td {
    padding: 15px 0;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.cart-table thead th {
    font-weight: bold;
    text-transform: uppercase;
}

/* Mobile Styles */
@media (max-width: 767px) {
    .cart-container {
        width: 100%;
        overflow-x: auto;
    }

    .cart-table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
    }

    .wrap-product {
        flex-direction: row-reverse;
    }

    .cart-table .product .remove {
        margin: 0 0 0 15px;
    }

    .cart-table thead {
        display: none;
        /* Ẩn tiêu đề cột trên thiết bị di động */
    }

    .cart-table tbody {
        display: flex;
        flex-direction: column;
        width: 115%;
    }

    .cart-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
    }

    .cart-table .product {
        justify-content: space-between;
    }

    .cart-item td {
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding: 10px 0;
        border: none;
        position: relative;
    }

    .cart-item td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px;
        z-index: 1;
    }

    .cart-item .product-info {
        display: flex;
        align-items: center;
    }

    .product-info img {
        width: 100px;
        height: auto;
        margin-right: 15px;
    }

    .quantity {
        display: flex;
        align-items: center;
    }

    .quantity input {
        width: auto;
    }

    .cart-summary {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .cart-actions {
        margin-top: 20px;
        text-align: center;
    }

    .cart-actions a,
    .cart-actions button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 575px) {

    .product-info img {
        display: none;
    }

    .quantity input {
        max-width: 50px;
    }
}