* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #865d4c;
    --text-color: #2a2a2a;
    --link-color-hover: #4ae2f0;
    --body-bg-color: #fdf3eb;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    font-size: 16px;
    color: var(--text-color);
    background-color: #fdf3eb;
    font-style: normal;
}

address {
    font-style: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
    color: var(--link-color-hover);
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: 'Advent Pro', sans-serif;
    line-height: 1.2;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 30px;
}

h6 {
    font-size: 20px;
}

img {
    border-style: none;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    height: auto;
    max-width: 100%;
}

button,
.button {
    cursor: pointer;
    background-color: transparent;
    line-height: 1.55;
}

input,
button,
textarea,
select {
    border: none;
    outline: none;
}

input,
textarea {
    border: 1px solid var(--primary-color);
    background-color: #fff;
    word-break: break-all;
    padding: 10px 20px;
    line-height: 1.8;
    font-size: 16px;
}

.container {
    width: 100%;
}


/* Header */

.pxl-header {
    position: relative;
    z-index: 1;
    background-color: #FDF3EB;
}

.pxl-header-main {
    box-shadow: 0 1px 72px 0 rgba(0, 0, 0, 0.01);
}

.pxl-header-main.pxl-header-sticky {
    width: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    transform: translateY(-100px);
    transition: .5s cubic-bezier(.25, .8, .25, 1) 0.05s;
}

.pxl-header-main.pxl-header-sticky.active {
    opacity: 1;
    margin: auto;
    background-color: rgba(253, 243, 235, 0.9);
    clear: both;
    transform: translateY(0px);
}

.pxl-wrap-menu {
    display: inline-flex;
}

.pxl-icon-menu-mobile {
    display: none;
    width: 34px;
    height: 20px;
    position: relative;
    cursor: pointer;
    width: 34px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.pxl-icon-menu-mobile span {
    top: 9px;
    width: 100%;
}

.pxl-icon-menu-mobile span,
.pxl-icon-menu-mobile:before,
.pxl-icon-menu-mobile:after {
    content: '';
    background-color: var(--primary-color);
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all 0.25s cubic-bezier(.645, .045, .355, 1);
    -khtml-transition: all 0.25s cubic-bezier(.645, .045, .355, 1);
    -moz-transition: all 0.25s cubic-bezier(.645, .045, .355, 1);
    -ms-transition: all 0.25s cubic-bezier(.645, .045, .355, 1);
    -o-transition: all 0.25s cubic-bezier(.645, .045, .355, 1);
    transition: all 0.25s cubic-bezier(.645, .045, .355, 1);
}

.pxl-icon-menu-mobile:before {
    top: 0;
    width: 24px;
}

.pxl-icon-menu-mobile::after {
    bottom: 0;
    width: 24px;
}

.pxl-icon-menu-mobile:hover:before,
.pxl-icon-menu-mobile:hover:after {
    width: 100%;
}

.pxl-wrap-menu li {
    display: inline-flex;
    padding: 0;
    position: relative;
    align-items: center;
}

.pxl-wrap-menu li svg {
    font-size: 15px;
    position: absolute;
    font-size: 10px;
    right: 5px;
    top: 50%;
    transform: translateY(-60%);
    transition: all 0.3s linear;
}

.pxl-wrap-menu li.pxl-item-has-child a {
    padding-right: 20px;
}

.pxl-wrap-menu li a {
    display: block;
    padding: 10px;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: border-box;
    color: #865d4c;
    transition: all 0.3s linear;

}

.pxl-wrap-menu>li:hover>a,
.pxl-wrap-menu>li.active>a,
.pxl-wrap-menu>li:hover>svg {
    color: var(--link-color-hover);
}

.pxl-wrap-menu li .pxl-child-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateY(10px);
    transition: all 0.3s linear;
    top: 50px;
    width: 240px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #865d4c;
}

.pxl-wrap-menu li .pxl-child-menu li {}

.pxl-wrap-menu li .pxl-child-menu li a {
    color: #fff
}

.pxl-wrap-menu li .pxl-child-menu li:hover a {
    color: var(--link-color-hover);
}

.pxl-wrap-menu li.pxl-item-has-child:hover .pxl-child-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.pxl-wrap-menu-right button {
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
}

.pxl-wrap-menu-right button+button {
    margin-left: 20px;
}

.pxl-wrap-menu-right button svg {
    color: var(--primary-color);
    font-size: 20px;
}

/* .pxl-wrap-menu-right button.pxl-user svg {
    color: var(--primary-color);
    font-size: 20px;
} */

.pxl-wrap-menu-right button.pxl-cart .pxl-count {
    position: absolute;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    top: -11px;
    right: -15px;
    font-size: 10px;
    color: var(--primary-color);
}

/* Page title */
.pxl-page-title {
    padding: 80px 0;
    background-color: #FEF8F3;
}

/* Footer */
.pxl-top-footer {
    padding: 40px 0;
    background-color: #F3E3D8;
}

.pxl-top-footer .row.al-center {
    padding-top: 40px;
}

.pxl-form-newsletter button.pxl-button-submit {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
    font-size: 16px;
    padding: 0 30px;
    line-height: 50px;
}

.pxl-form-newsletter button.pxl-button-submit::before {
    content: '';
    position: absolute;
    left: 0;
    height: 30px;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
}

.pxl-form-newsletter input {
    padding-right: 145px;
}

.pxl-form-newsletter button.pxl-button-submit svg {
    color: var(--primary-color);
    font-size: 16px;
    margin-left: 5px;
}

.pxl-list-social li a {
    width: 50px;
    height: 50px;
    border-radius: 0px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.pxl-list-social li a:hover {
    font-size: 20px;
    background-color: var(--primary-color);
}

.pxl-list-social li a svg {
    font-size: 20px;
}

.pxl-footer-menu li+li {
    margin-top: 5px;
}

.pxl-footer-menu li a:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.pxl-contact-info li {
    padding-left: 25px;
    position: relative;
}

.pxl-contact-info li+li {
    margin-top: 5px;
}

.pxl-contact-info svg {
    position: absolute;
    left: 0;
    top: 5px;
}

/* Content */

.pxl-section {
    width: 100%;
    float: left;
    background-color: #fdf3eb;
}

.section-1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 150px;
    padding-bottom: 150px;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/home/bgr-fixed.webp');
}

.section-1 .pxl-section-wrapper .pxl-wrap-content {
    max-width: 785px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-1 .pxl-section-wrapper .pxl-wrap-content img {
    width: 100px;
    margin-bottom: 20px;
}

.pxl-subTitle {
    color: var(--primary-color);
    margin: 0 0 15px 0;
}

.pxl-mainTitle {
    margin-top: 0;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.section-1 .pxl-section-wrapper .pxl-wrap-content .pxl-desc {
    margin-top: 0;
    color: var(--text-color);
    margin-bottom: 20px;
}

.section-1 .pxl-section-wrapper .pxl-wrap-content .pxl-desc.sub-text-two {
    color: var(--text-color);
    font-size: 18px;
    padding: 40px;
    width: 75%;
    border-left: 0;
    border-top: 1px solid #e1c9b4;
    border-bottom: 1px solid #e1c9b4;
    position: relative;
    font-style: italic;
    margin: 40px 0 20px;
    position: relative;
}

.section-1 .pxl-section-wrapper .pxl-wrap-content .pxl-desc.sub-text-two svg {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 0;
    color: #e1c9b4;
    transform: skew(-8deg);
}

/* Section 2 */
.section-2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/home/parallax-image2.webp');
}

.section-2 .pxl-left {
    width: calc(60% - 10px);
}

.section-2 .pxl-right {
    width: 40%;
    padding: 140px 40px;
}

.section .pxl-heading {
    margin-bottom: 50px;
}

.pxl-support-block {
    min-height: 135px;
}

.section-2 .pxl-right .pxl-support-icon-image img {
    min-width: 115px;
    width: 115px;
}

.section-2 .pxl-right .pxl-support-content {
    padding-left: 20px;
}

.section-2 .pxl-right .pxl-support-heading {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.pxl-heading-description {
    margin-bottom: 30px;
}

/* Section 3 */
.pxl-section.section-3 {
    background-color: #fdf3eb;
    padding: 100px 0;
}

.pxl-section.section-3 .container-fluid .row {
    margin: 0 5%;
}

.pxl-group-tab {
    margin: 20px 0 30px;
}

.pxl-wrap-block-product {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    display: none;
    transition: all 0.3s ease;
}

.pxl-wrap-block-product.active {
    display: grid;
}

.pxl-wrap-block-product li {}

.pxl-wrap-block-product li .pxl-wrapImage {
    cursor: pointer;
    position: relative;
}

.pxl-wrap-block-product li .pxl-wrapImage>a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
    background-color: #865d4c4d;
}

.pxl-wrap-block-product li .pxl-wrapImage:hover>a {
    opacity: 1;
    visibility: visible;
}

.pxl-wrap-block-product li .pxl-wrapImage img.pxl-show {
    opacity: 1;
    visibility: visible;
    transition: all 0.6s ease;
}

.pxl-wrap-block-product li .pxl-wrapImage img.pxl-hide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pxl-wrap-block-product li .pxl-wrapImage:hover img.pxl-show {
    opacity: 0;
    visibility: hidden;
}

.pxl-wrap-block-product li .pxl-wrapImage:hover img.pxl-hide {
    opacity: 1;
    visibility: visible;
}

.pxl-wrap-block-product li .pxl-wrapMeta {
    position: absolute;
    top: 50%;
    transform: translate(15px, -50%);
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.6s ease;
    opacity: 0;
    visibility: hidden;
}

.pxl-wrap-block-product li .pxl-wrapImage:hover .pxl-wrapMeta {
    transform: translate(0px, -50%);
    opacity: 1;
    visibility: visible;
}

.pxl-wrap-block-product li .pxl-wrapMeta li {
    width: 40px;
    height: 40px;
    border: 2px solid #865d4c;
    background-color: var(--body-bg-color);
}

.pxl-wrap-block-product li .pxl-wrapMeta li.group-heart a.show {
    display: grid;
}

.pxl-wrap-block-product li .pxl-wrapMeta li.group-heart a.hide {
    display: none;
}

.pxl-wrap-block-product li .pxl-wrapMeta a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.pxl-wrap-block-product li .pxl-wrapMeta a img {
    width: 15px;
    height: 15px;
}

.pxl-wrap-info {
    background-color: #fff;
    padding: 20px 0;
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
}

.pxl-wrap-info .pxl-product-name {
    margin-bottom: 10px;
    text-align: center;
}

.pxl-wrap-info .pxl-product-name a {
    line-height: normal;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.pxl-wrap-info .pxl-product-price {
    line-height: normal;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
}

/* Section 4 */
.section-4 {
    background-color: #fff;
    padding-top: 120px;

}

.section-4 .pxl-wrap-button-video {
    width: 100%;
    position: relative;
}

.section-4 .pxl-wrap-button-video img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.pxl-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border: 2px solid var(--primary-color);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: #fff;
}

.pxl-video svg {
    margin-left: 3px;
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.pxl-video:after {
    content: "";
    position: absolute;
    z-index: 0;
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary-color);
    border-radius: 50%;
    animation: pulse-border 2000ms ease-out infinite;
    -webkit-animation: pulse-border 2000ms ease-out infinite;
    margin: auto;
    top: 50%;
    left: 50%;
    z-index: -1;
}

.pxl-video:hover {
    border-color: var(--link-color-hover);
}

.pxl-video:hover svg {
    color: var(--link-color-hover);
}

/* Popup */
.pxl-content-popup {
    opacity: 0;
    visibility: hidden;
    transition: var(--DTBaseTransition);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.pxl-content-popup .pxl-video-modal-content {
    width: 100%;
    max-width: 760px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

/* Section 5 */
.section-5 {
    background-color: #fff;
}

.section-5 .pxl-group-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.section-5 .pxl-group-content .pxl-additional-block {
    width: 50%;
}

.section-5 .pxl-group-content .pxl-additional-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.section-5 .pxl-group-content .pxl-main-block {
    width: 50%;
}

.section-5 .pxl-group-content .pxl-main-block {
    width: 50%;
}

.section-5 .slick-slide>div {
    width: 100%;
}

.pxl-product-item .pxl-wrapImage {
    cursor: pointer;
    position: relative;
}

.pxl-product-item .pxl-wrapImage>a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
    background-color: #865d4c4d;
}

.pxl-product-item .pxl-wrapImage:hover>a {
    opacity: 1;
    visibility: visible;
}

.pxl-product-item .pxl-wrapImage img.pxl-show {
    opacity: 1;
    visibility: visible;
    transition: all 0.6s ease;
    width: 100%;
}

.pxl-product-item .pxl-wrapImage img.pxl-hide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.pxl-product-item .pxl-wrapImage:hover img.pxl-show {
    opacity: 0;
    visibility: hidden;
}

.pxl-product-item .pxl-wrapImage:hover img.pxl-hide {
    opacity: 1;
    visibility: visible;
}

.pxl-product-item .pxl-wrapMeta {
    position: absolute;
    top: 50%;
    transform: translate(15px, -50%);
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.6s ease;
    opacity: 0;
    visibility: hidden;
}

.pxl-product-item .pxl-wrapImage:hover .pxl-wrapMeta {
    transform: translate(0px, -50%);
    opacity: 1;
    visibility: visible;
}

.pxl-product-item .pxl-wrapMeta li {
    width: 40px;
    height: 40px;
    border: 2px solid #865d4c;
    background-color: var(--body-bg-color);
}

.pxl-product-item .pxl-wrapMeta li.group-heart a.show {
    display: grid;
}

.pxl-product-item .pxl-wrapMeta li.group-heart a.hide {
    display: none;
}

.pxl-product-item .pxl-wrapMeta a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.pxl-product-item .pxl-wrapMeta a img {
    width: 15px;
    height: 15px;
}

.pxl-wrap-info {
    background-color: #fff;
    padding: 20px 0;
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
}

.pxl-wrap-info .pxl-product-name {
    margin-bottom: 10px;
    text-align: center;
}

.pxl-wrap-info .pxl-product-name a {
    line-height: normal;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.pxl-wrap-info .pxl-product-price {
    line-height: normal;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
}

/* Section 6 */
.section-6 {
    padding: 100px 0;
    background-color: #FFF;
}

.pxl-testimonial-carousel {
    position: relative;
}

.pxl-slick-arrow {
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary-color);
    top: 50%;
    transform: translateY(-50%);
}

.pxl-slick-arrow:hover {
    border-color: var(--link-color-hover);
}

.pxl-slick-arrow:before {
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary-color);
}

.pxl-testimonial-carousel .pxl-slick-prev {
    position: absolute;
    left: 0;
    width: 40px;
}

.pxl-testimonial-carousel .pxl-slick-next {
    right: 0;
    position: absolute;
}

.pxl-testimonial-carousel-wrapper {
    overflow: hidden;
    width: 100%;
}

.pxl-testimonial-item {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.pxl-testimonial-item .pxl-wrap-content {
    max-width: 1000px;
    margin: 0 auto;
}

.pxl-testimonial-item .pxl-wrap-content .pxl-testimonial-quote {
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.pxl-testimonial-item .pxl-wrap-content .pxl-wrap-info-client {
    display: flex;
    flex-direction: column;
}

.pxl-testimonial-item .pxl-wrap-content .pxl-wrap-info-client .pxl-client-name {
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}

.pxl-testimonial-item .pxl-wrap-content .pxl-wrap-info-client .pxl-client-position {
    font-size: 16px;
    padding-top: 20px;
    position: relative;
}

.pxl-testimonial-item .pxl-wrap-content .pxl-wrap-info-client .pxl-client-position:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #000;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.pxl-testimonial-item img {
    margin: 0 auto;
    border-radius: 50%;
    max-width: 100px;
    margin-top: 30px;
}

/* Section 7 */
.section-7 {
    padding: 100px 0;
}

.section-7 .pxl-mainTitle {
    margin-bottom: 50px;
}

.section-7 .pxl-subTitle {
    margin-bottom: 10px;
}

.pxl-wrap-blog {
    display: flex;
    margin: 0 5%;
    gap: 30px;
}

.pxl-wrap-blog .pxl-blog-item {
    margin-bottom: 30px;
}

.pxl-wrap-blog .pxl-blog-content {
    padding: 30px 30px 40px;
    background-color: #fff;
}

.pxl-wrap-blog .pxl-blog-content .pxl-blog-meta {
    display: flex;
    align-items: center;
}

.pxl-wrap-blog .pxl-blog-content .pxl-blog-meta p+p {
    padding-left: 15px;
    margin-left: 15px;
    position: relative;
}

.pxl-wrap-blog .pxl-blog-content .pxl-blog-meta p+p:before {
    content: "";
    width: 1px;
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 5px;
    background-color: var(--text-color);

}

.pxl-wrap-blog .pxl-blog-content .pxl-blog-meta p img {
    width: 18px;
    fill: var(--primary-color)
}

.pxl-wrap-blog .pxl-blog-content h5 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

.pxl-wrap-blog .pxl-blog-description {
    margin-bottom: 30px;
}

/* Section 8 */
.pxl-section.section-8 {
    padding: 100px 0;
    background-color: #fff;
}

.pxl-wrap-client {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: initial;
    align-items: center;
    margin: 0 5%;
    gap: 30px;
    width: 100%;
}

.pxl-wrap-client img {
    padding: 0 15px;
    min-width: 116px;
    place-content: center;
}

/* Section About */
/* Section About 1 */
.pxl-section.section-about-1 {
    padding: 100px 0;
}

.pxl-list-with-image-section {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    display: grid;
}

.pxl-list-with-image-section .pxl-description {
    margin-bottom: 15px;
}

.pxl-list-with-image-section ul li svg {
    margin-right: 10px;
}

/* Section About 2 */
.pxl-section.section-about-2 {
    padding: 100px 0;
    background-color: #fff;
}

.pxl-wrapCollection {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.pxl-wrapCollection .pxl-overlay-style {
    position: relative;
    overflow: hidden;
}

.pxl-wrapCollection .pxl-overlay-style .pxl-overlay-image img {
    transform: scale(1);
    transition: all 0.3s linear;
}

.pxl-wrapCollection .pxl-overlay-style:hover .pxl-overlay-image img {
    transform: scale(1.1);
}

.pxl-wrapCollection .pxl-overlay-style .pxl-overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pxl-wrapCollection .pxl-overlay-style .pxl-overlay-content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.pxl-wrapCollection .pxl-overlay-style .pxl-overlay-content .pxl-overlay-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}

.pxl-wrapCollection .pxl-overlay-style .pxl-overlay-content .pxl-overlay-inner .pxl-main-title {
    color: #fff;
    padding-bottom: 20px;
    position: relative;
    text-transform: inherit;
    margin-bottom: 20px;
}

.pxl-wrapCollection .pxl-overlay-style .pxl-overlay-content .pxl-overlay-inner .pxl-main-title:before {
    content: "";
    width: 40px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.pxl-wrapCollection .pxl-overlay-style .pxl-overlay-content .pxl-overlay-inner .pxl-description {
    color: #fff;
}

.pxl-wrapCollection .pxl-overlay-style:hover .pxl-overlay-content:before {
    opacity: 0.8;
}

.pxl-wrapCollection .pxl-overlay-style:hover .pxl-overlay-content .pxl-overlay-inner {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}

/* Section About 3 */
.pxl-section.section-about-3 {
    padding: 0;
}

.pxl-wrap-section-about3 {
    padding-top: 120px;
    padding-bottom: 120px;
    background-repeat: repeat;
    background-size: cover;
    background-image: url(../images/about/ab-bg-new.webp);
    background-position: center;
    background-attachment: scroll;

}

.pxl-custom-info-box .pxl-column {
    padding: 0 60px;
}

.pxl-custom-info-box .pxl-column .pxl-custom-info-content {
    padding: 0 15px;
}

.pxl-custom-info-box .pxl-custom-info-title {
    display: flex;
}

.pxl-custom-info-box .pxl-custom-info-title h2+h2 {
    margin-left: 15px;
}

.pxl-custom-info-box .pxl-column {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

.pxl-custom-info-box .pxl-column .pxl-info-button {
    text-align: right;
}

/* Section contact info */

.section-contact-info {
    padding: 100px 0 70px;
}

.section-contact-info .pxl-contact-info-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section-contact-info .pxl-contact-info-block .pxl-contact-info-item {
    width: 100%;
    border: 1px solid var(--primary-color);
    padding: 25px;
}

.section-contact-info .pxl-contact-info-block .pxl-contact-info-item .pxl-contact-icon-image {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    display: grid;
    place-items: center;
}

.section-contact-info .pxl-contact-info-block .pxl-contact-info-item .pxl-contact-icon-image svg {
    width: 20px;
    height: 20px;
    color: #fff;
}

.section-contact-info .pxl-contact-info-block .pxl-contact-info-item .pxl-contact-icon-content h5 {
    margin: 30px 0 15px;
    color: var(--primary-color);
}

/* Section Contact Form */
.section-contact-form {
    padding: 0 0 100px;
}

form.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

form.contact-form textarea#ContactFormMessage {
    grid-column: 1 / 4;
}

form.contact-form button {
    grid-column: 2 / 3;
    margin: 0;
    font-size: 16px;
}