/* Home slider */
.slick-slide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.pxl-slider {
    position: relative;
}

.pxl-slider .pxl-slider-prev {
    left: 50px;
}

.pxl-slider .pxl-slider-next {
    right: 50px;
}

.pxl-slider .pxl-slick-custom-nav {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.slick-active {
    opacity: 1;
}

.slick-dots {
    display: none;
}

.slick-custom-nav {
    position: absolute;
}

.pxl-slick-custom-nav {
    text-align: center;
    margin-top: 20px;
}

.pxl-slick-nav-item {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
}

.pxl-slick-nav-item.active {
    color: red;
}

.pxl-item {
    position: relative;
}

.pxl-item .pxl-overlay-slide {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.25);
}

.pxl-slider-content-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 40%;
}


.pxl-slider-content-inner h4 {
    font-weight: 600;
    margin: 0 0 15px 0;
    color: var(--primary-color);
    font-size: 40px;
}

.pxl-slider-content-inner h2 {
    font-weight: 400;
    margin: 0 0 15px 0;
    color: var(--primary-color);
    font-size: 80px;
}

.pxl-slider-content-inner p {
    margin-bottom: 40px;
    font-size: 18px;
}

.pxl-slick-custom-nav {
    width: 100%;
}

.pxl-slick-nav-item {
    opacity: 0.5;
    font-size: 22px;
    font-weight: 400;
    max-width: 281px;
    padding: 0 15px;
    line-height: 1.2;
    position: relative;
}

.pxl-slick-nav-item span {
    width: 100%;
    height: 2px;
    display: block;
    margin: 8px 0 0;
    transition: all 0.3s linear;
    position: relative;
    background-color: #fdf3eb;
}

.pxl-slick-nav-item span::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    transform-origin: left;
    transform: scaleX(0);
}

.pxl-slick-nav-item.active span::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    transform-origin: left;
    transform: scaleX(0);
    background-color: var(--primary-color);
    animation: 2.35s linear forwards running progress-horizontal;
}

.pxl-slick-nav-item.active {
    opacity: 1;
    color: var(--primary-color) !important;
}