body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.table-container {
    width: 1600px;
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead th,
tbody td {
    padding: 18px;
    border-bottom: 1px solid #ddd;
}

thead th {
    background-color: #F3E3D8;
    color: #333;
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 10;
}

tbody tr:nth-child(2n) {
    background-color: rgba(253, 243, 235, 0.5);
}

tbody tr:hover {
    background-color: #f9f9f9;
}

.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@media (max-width: 575px) {
    table {
        border: 0;
    }

    thead {
        display: none;
    }

    tbody tr {
        display: block;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        padding: 10px;
        background-color: #fff;
    }

    tbody tr td {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border: none;
        position: relative;
        text-align: left;
    }

    tbody tr td:before {
        content: attr(data-label);
        font-weight: bold;
        flex-basis: 40%;
    }

    tbody tr td {
        flex-basis: 60%;
    }

    tbody tr td+td {
        border-top: 1px solid #F3E3D8;
    }
}